<form method="POST" action="/products/{% if product.id %}{{ product.id }}{% end if %}">
    {% if product.id %}
        <input type="hidden" name="id" value="{{ product.id }}">
    {% endif %}
    <div> 
        <label for="name"> Name:</label>
        <input type="text" name='name' id="name" value="{{ product.name }}"/>
    </div>
    <div>
         <input type="submit" name='submit' id="name" />
    </div>
</form>